<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="log/console.xml" />
    <include resource="log/file.xml" />

    <logger name="biz.mintchoco.clever" level="debug" additivity="false">
        <springProfile name="local">
            <appender-ref ref="STDOUT"/>
        </springProfile>
        <springProfile name="!local">
            <appender-ref ref="dailyRollingFileAppender"/>
        </springProfile>
    </logger>

    <root level="info">
        <springProfile name="local">
            <appender-ref ref="STDOUT"/>
        </springProfile>
        <springProfile name="dev">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="dailyRollingFileAppender"/>
        </springProfile>
        <springProfile name="stage">
            <appender-ref ref="dailyRollingFileAppender"/>
        </springProfile>
        <springProfile name="prd">
            <appender-ref ref="dailyRollingFileAppender"/>
        </springProfile>
    </root>
</configuration>
